<template>
  <div class="contanier">
      <h1 class="text-center blue--text text--darken-4 mt-10">Welcome To Intract Technologies</h1>
  </div>
</template>

<script>
export default {
    name:"Home",
}
</script>

<style>

</style>