<template>
  <div class="">
    <div class="d-flex justify-center">    
      <v-card rounded min-width ="200" min-height="200" class="mt-16 pa-5" elevation="4">
          <h1 class = "blue--text text-darken-4 text-center">Authentication Project</h1>
        <div class="row mt-10">
          <v-btn text class="primary ml-5" @click="redirectToSignUp">Sign Up</v-btn>
          <v-btn text class="primary ml-5" @click="redirectToSignIn">Sign In</v-btn>
        </div>
      </v-card>
    </div>
  </div>
</template>

<script>
export default {
    name:"Index",
    methods:{
        redirectToSignUp(){
            this.$router.push('signup')
        },
        redirectToSignIn(){
            this.$router.push('signin')
        }
    }
}
</script>

<style>

</style>