<template>
  <div class ="container">
    <h1 class="text-center blue--text text--darken-4 mt-10">Sign In</h1>
    <div class="d-flex justify-center">
        <v-card rounded min-width ="400px" elevation="4" class="my-5">
            <v-card-text>
                <v-form class="" ref="form">
                    <v-text-field 
                    v-model="username" 
                    :rules="[basicRules.required,basicRules.min2]"
                    hint=""
                    label="Username"
                    ></v-text-field>
                    <v-text-field
                    v-model="password"
                    :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[basicRules.required, passwordRules.password]"
                    :type="show3 ? 'text' : 'password'"
                    label="Password"
                    hint=""
                    @click:append="show3 = !show3"
                    >
                    </v-text-field>
                    <v-btn text class="primary mx-0 mt-3" @click="checkUser" >Sign In</v-btn>
                </v-form>
            </v-card-text>
        </v-card>
    </div>
</div>
</template>

<script>
export default {
    name:"SignIn",
    data(){
        return{
            username:'',
            password: '',
            show3:false,
            basicRules: {
                required: value => !!value || 'Required.',
                min2: v=> v.length >= 2 || 'Min 2 characters',
            },
            passwordRules: {
                password: v => /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/.test(v) || 'Password must contain at least lowercase letter, one number, a special character and one uppercase letter',
            }
        }
    },
    methods: {
        checkUser(){
            if(this.$refs.form.validate()) {
                const user = this.$store.state.users.find(user => {
                    return (this.username == user.username && this.password == user.password)
                })
                if(user){
                    var data = {
                        'role':user.role,
                        'username': user.username,
                        'email': user.email,
                        'phoneNumber':user.phoneNumber,
                        'password': user.password
                    }
                    localStorage.setItem('user', JSON.stringify(data))
                    this.$router.push('home')
                }else {
                    alert("No such user found!")
                }
            }
        }
    }
}
</script>

<style>

</style>