<template >
    <div class ="container">
    <h1 class="text-center blue--text text--darken-4 mt-10">Sign Up</h1>
    <div class="d-flex justify-center">
        <v-card rounded min-width ="400px" min-height="400px" elevation="4" class="my-5">
            <v-card-text>
                <v-form class="" ref="form">
                    <v-select 
                    v-model="selectRole" 
                    :rules="[basicRules.required]"
                    label="Roles" 
                    :items= "items" 
                    item-text="role">
                    </v-select>
                    <v-text-field 
                    v-model="username" 
                    :rules="[basicRules.required,basicRules.min2]"
                    hint=""
                    label="Username"
                    ></v-text-field>
                    <v-text-field 
                    v-model="email"
                    :rules="[basicRules.required,emailRules.email]"
                    hint=""
                    label="Email" 
                    ></v-text-field>
                    <v-text-field 
                    v-model="number"
                    :rules="[basicRules.required, phoneNumberRules.min10]"
                    hint=""
                    label="Phone Number" 
                    ></v-text-field>
                    <v-text-field
                    v-model="password"
                    :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[basicRules.required, passwordRules.password]"
                    :type="show3 ? 'text' : 'password'"
                    label="Password"
                    hint=""
                    @click:append="show3 = !show3"
                    >
                    </v-text-field>
                    <v-btn text class="primary mx-0 mt-3" @click="registerUser" >Sign Up</v-btn>
                </v-form>
            </v-card-text>
        </v-card>
    </div>
    </div>
</template>

<script>
export default {
    name:"SignUp",
    data(){
        return{
            username: '',
            email: '',
            selectRole: {role: ''},
            number:'',
            password:'',
            show3:false,
            basicRules: {
                required: value => !!value || 'Required.',
                min2: v=> v.length >= 2 || 'Min 2 characters',
            },
            phoneNumberRules:{
                min10: v=> v.length == 10 || 'Phone No should be of 10 numbers',
            },
            emailRules: {
                email: v => /^(([^<>()[\]\\.,;:\s@']+(\.[^<>()\\[\]\\.,;:\s@']+)*)|('.+'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v) || 'E-mail must be valid',
            },
            passwordRules: {
                password: v => /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/.test(v) || 'Password must contain at least lowercase letter, one number, a special character and one uppercase letter',
            },
            items:[
                {role: 'Teacher'},
                {role: 'Principal'},
                {role: 'Student'},
            ],
        }
    },
    methods: {
        registerUser(){
            console.log(this.$store.state.users);
            if(this.$refs.form.validate()){
                var newUser = {'role':this.role,'username': this.username,'email': this.email,'phoneNumber':this.number,'password':this.password}
                const user = this.$store.state.users.find(user => {
                    return (this.username == user.username)
                })
                if(!user){
                    this.$store.state.users.push(newUser)
                    this.$router.push('signin')
                }else {
                    alert("User with same Username already Exist! Please Change your Username.");
                }  
            } 
        }
    },
}
</script>

<style>

</style>